<div class="content">
    <div class="title">
        <h1>Categorias</h1>
    </div>

    <button class="mat-elevation-z8" (click)="abrirFormCadastro()" mat-stroked-button color="primary">Nova categoria</button>

    <div class="table">
        <table mat-table  class="mat-elevation-z8" [dataSource]="categorias">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
            </ng-container>
          
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let row"> {{ row.nome }} </td>
            </ng-container>
          
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let row"> {{ row.descricao }} </td>
            </ng-container>

            <ng-container matColumnDef="livros">
                <th mat-header-cell *matHeaderCellDef> Livros </th>
                <td mat-cell *matCellDef="let row"> 
                    <a href="#">
                        <i class="material-icons book">book</i>
                    </a>
                </td>
              </ng-container>
          
            <ng-container matColumnDef="acoes">
              <th class="mat-header" mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let row">
          
                <button mat-mini-fab color="primary" aria-label="Editar o registro"  routerLink="update/{{ row.id }}">
                  <mat-icon>edit</mat-icon>
                </button>
              
                <button mat-mini-fab color="warn" aria-label="Excluir o registro" (click)="deletar(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </div>
   
</div>
